// 题目
*.pdf

// vscode
.vscode/

// 查询文件
query*.txt
query*.bin

// 答案文件
ans*.txt


// 可执行文件
*.exe
checker
main

// 配置文件
Config.h

// 参考文件
cpp/
hnswlib/

// 数据-论文文件
PJ论文/
data_o/