// 题目
*.pdf

// vscode
.vscode/
.cursor/

// 查询文件
query*.txt
query*.bin

// 答案文件
ans*.txt


// 可执行文件
*.exe
checker
main
runner

// 配置文件
Config.h

// 参考文件
cpp/
hnswlib/
sift/
1/

// 数据-论文文件
PJ论文/
data_o/

// 图缓存文件
graph.bin
graphs.bin

vis_paths_s.json
vis_paths.json
vis_paths_fix_s.json
vis_paths_fix.json


// 实验结果
experiment_results.csv*
experiment_results.pkl*
__pycache__/
analysis/
output/
analysis_plots/